body{
  background-color: #E0E0E0;
  font-family: 'revoluti';
}
  #bouton-zone{
    text-align: center;
    padding: 15px;
  }
  #attaq, #defense, #règles{
    font-size: 13px;
    font-weight: lighter;
    color: white;
    padding: 5px 15px;
    background:#212121;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: #E0E0E0;
  }
#container {
  display: flex;
  justify-content: space-around;
}
  #zone-soldat1{
    background-color: white;
    border: solid 1px black;
    height: 550px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #zone-soldat2{
    background-color: white;
    border: solid 1px black;
    height: 550px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #map{
    height:500px;
    width: 520px;
  }
  img{
    height: 50px;
    width: 50px;
  }
  #img-soldat1, #img-soldat2{
    height: 150px;
    width: 150px;
  }
.row{
    height: 50px;
}
.col{
   background: white;
    display: inline-block;
    width:50px;
    height: 50px;
    border: solid 1px black;
  }
.wall{
    background-color:#212121;
  }
.gun{
  background-image: url('img-jeux/gun.jpg');
  background-size: contain;
}
.lance-rocket{
  background-image: url('img-jeux/lance-rocket.jpg');
  background-size: contain;
}
.missile{
  background-image: url('img-jeux/missile.jpg');
  background-size: contain;
}
.mitraillette{
  background-image: url('img-jeux/mitraillette.jpg');
  background-size: contain;
}
.epée{
  background-image: url('img-jeux/epée.jpg');
  background-size: contain;
}
.soldat1{
  background-image: url('img-jeux/soldat1.jpg');
  background-size:cover;
}
.soldat2{
  background-image: url('img-jeux/soldat2.jpg');
  background-size: cover;
}
.moove-gray{
  background-color: #9E9E9E;
}





